body {
    background-color: #94e1ff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right: 15%;
    margin-left: 15%;
}

h2 {
    background-color: #7d7800;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}