body {
    background-color: #93aadb;
    font-family: 'Fira Sans', sans-serif;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20%;
    margin-top: 5%;
}

h1, h2 {
    text-align:left;
    font-family: 'Bebas Neue', cursive;
    
}
h1 {
    font-size: 5vw;
}

p {
    padding: 5%; /*padding*/
}
ul {
    font-weight: bolder;
}
ul ul {
    font-size: .9em;
    font-weight:lighter;
}

 
a:link {
    color: black;
}

a:active {
    font-size: 90%;
}

a:visited {
    color: rgb(0, 9, 103);
}

a:hover {
    color: rgb(0, 8, 255);
}

img.horseshoe {
    width: 100%;

}

h3 {
    background-color: antiquewhite;
    text-align: center;
    margin-top: 20px; /*Margins! */
    margin-bottom: 5px;

}
div.date {
    font-style: italic;
    font-weight: lighter; 
    
}

div.blurb {
    font-weight: bolder;
    text-indent: 10%;
}

img#XC {
    float: right;
    width:30%; /*adjusted width*/
    margin-left: 1em; /*minimal margins */
    margin-bottom: 1em;
    border: 4px solid rgb(0, 9, 103);
    
    
}
img#antelope {
    float:left;
    height: 30vh;
    width: auto;
    margin-right: 1em;
    margin-bottom: 1em;
    border:4px solid rgb(0, 9, 103)
}

section#SKILLS {
    float:left; 
    width: 46%;
    margin: 2%;
}

section#AWARDS {
    float: right;
    width: 46%;
    margin: 2%;
    
}


header.Nav {
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    font-size: smaller;
    height: 7%;
    margin-top: 0%;
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;
}

header.Nav a {
    text-decoration: none;
}

footer {
    position: absolute; 
    bottom: auto;
    left: 0;
    width: 100%;
    /*display: flex; */
    font-size: 75%;
    background-color: antiquewhite;
    /*justify-content: space-between;
    flex-direction: column;*/
    margin: 0px;
    padding: 0px;
}

div#foot {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

div#foot div {
    margin-left: 0px;
    margin-top: 0px;
    margin:0px;
}

img#robo {
    width: 50px;
    height: auto;
}

img#bigRobo {
    position: fixed;
    top:20vh;
    left: 10vw;
    height: 60vh;

}
img.dontShow {
    display: none;
}




@media (orientation: landscape) {
    img#horseshoe {
        position: absolute;
        left: 0;
        top: auto;
        width: 100%;
        padding-bottom: 10%;

    }
    footer {
        height: 10%;
        position: fixed;
        bottom: 0;
    }
}

@media (orientation: portrait) {
    footer {
        height: 10%;
    }
    body {
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 8%;
        margin-bottom: 10%;
        font-size: large;
        padding-bottom: 10%;
    }
    header.Nav {
        height: 5%;
        font-size: x-small;
    }

    img#bigRobo {
        width: 80vw;
        height: auto;
    }

}

@media (max-width: 800px) {

    footer {
        font-size: xx-small;
    }
}

 /*{
    border: .1em dotted brown

}
