body {
    background-color: #93aadb;
    font-family: 'Fira Sans', sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
    margin-top: 5%;
}

h1, h2 {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 5vw;
}
h2 {
    font-size: 4vw;
}

 
a:link {
    color: black;
}

a:active {
    font-size: 90%;
}

a:visited {
    color: rgb(0, 9, 103)
}

a:hover {
    color: rgb(0, 8, 255)
}

img.horseshoe {
    width: 100%

}

h3 {
    background-color: rgb(238, 255, 197);
    width: fit-content;

}
div.date {
    font-style: italic;
    font-weight: lighter; 
    
}

div.blurb {
    font-weight: bolder;
    text-indent: 10%
}

img#XC {
    float: right;
    width:28%;
    margin-left: 1em;
    
}





* {
     /*border: .1em dotted brown*/
}